<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand 3 Chicago datasets  
2.  Load the 3 datasets into 3 tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_SKO/data/Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012-v2.csv" target="_blank"> Census Data </a>

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from: <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_SKO/data/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv" target="_blank"> Chicago Public School </a>

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_SKO/data/Chicago_Crime_Data-v2.csv" target="_blank"> Chicago Crime Data </a>

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

1.  **CENSUS_DATA:** <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera/data/Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012-v2.csv" target="_blank">Census Dataset</a>

2.  **CHICAGO_PUBLIC_SCHOOLS**  <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera/data/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv" target="_blank"> Chicago Public School</a>

3.  **CHICAGO_CRIME_DATA:** <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera/data/Chicago_Crime_Data-v2.csv" target="_blank"> Chicago Crime Data </a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/LOADschool.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://

'Connected: tcs40883@BLUDB'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [9]:
# Rows in Crime table
%sql select count(1) AS total_recorded_crimes from chicago_crime limit 1;

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [11]:
%sql select * from chicago_crime limit 10;

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '08/28/2004 05:50:56 PM', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '02/10/2018 03:50:01 PM', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '06/26/2004 12:40:00 PM', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '02/28/2018 03:56:25 PM', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '04/04/2011 05:45:00 AM', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '02/10/2018 03:50:01 PM', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '12/30/2010 04:30:00 PM', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '02/10/2018 03:50:01 PM', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '02/02/2016 07:30:00 PM', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, '02/10/2018 03:50:01 PM', Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '09/29/2010 07:59:00 AM', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, '02/10/2018 03:50:01 PM', Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '11/30/2016 01:15:00 AM', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, '02/10/2018 03:50:01 PM', Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '12/16/2005 04:45:00 PM', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, '02/28/2018 03:56:25 PM', Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '01/28/2005 05:00:00 PM', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, '02/28/2018 03:56:25 PM', Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '05/13/2004 02:15:00 PM', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, '02/28/2018 03:56:25 PM', Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

### Problem 3

##### How many crimes involve an arrest?

In [13]:
%sql select count(id) AS crime_with_arrest_count from chicago_crime where arrest = 'TRUE';

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [16]:
%sql select distinct primary_type AS unique_types_of_crimes from chicago_crime where upper(location_description) = 'GAS STATION';

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPA',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENSUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [20]:
%sql select community_area_name from chicago_socioeconomic_data where community_area_name LIKE 'B%';

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [25]:
%%sql 
select name_of_school,
       healthy_school_certified,
       community_area_name,
       community_area_number       
from   schools
where  community_area_number IN (10, 11, 12, 13, 14, 15)
  and  healthy_school_certified = 'Yes';

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School', 'Yes', 'NORWOOD PARK', 10)]

### Problem 7

##### What is the average school Safety Score?

In [26]:
%sql select * from schools limit 2

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Strong', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Strong', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', Decimal('15.7'), '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', Decimal('16.8'), Decimal('16.5'), Decimal('0.7'), Decimal('1.4'), 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', Decimal('1196129.985'), Decimal('1856209.466'), Decimal('41.76032435'), Decimal('-87.55673627'), 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)')]

In [28]:
%%sql 
select avg(safety_score) AS avg_safety_score
from   schools;

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [29]:
%%sql 
select avg(college_enrollment) AS avg_college_enrollment,
       community_area_name
from   schools
group by community_area_name
order by avg_college_enrollment desc
limit 5;

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('2411.500000'), 'ARCHER HEIGHTS'),
 (Decimal('1317.000000'), 'MONTCLARE'),
 (Decimal('1233.333333'), 'WEST ELSDON'),
 (Decimal('1205.875000'), 'BRIGHTON PARK'),
 (Decimal('1198.833333'), 'BELMONT CRAGIN')]

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [31]:
%%sql 
select community_area_name
from   schools
where  safety_score = (select min(safety_score) from schools);

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [47]:
%%sql
select community_area_name, ca, per_capita_income_ AS per_capita_income
from   chicago_socioeconomic_data
;

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rogers Park', 1.0, 23939),
 ('West Ridge', 2.0, 23040),
 ('Uptown', 3.0, 35787),
 ('Lincoln Square', 4.0, 37524),
 ('North Center', 5.0, 57123),
 ('Lake View', 6.0, 60058),
 ('Lincoln Park', 7.0, 71551),
 ('Near North Side', 8.0, 88669),
 ('Edison Park', 9.0, 40959),
 ('Norwood Park', 10.0, 32875),
 ('Jefferson Park', 11.0, 27751),
 ('Forest Glen', 12.0, 44164),
 ('North Park', 13.0, 26576),
 ('Albany Park', 14.0, 21323),
 ('Portage Park', 15.0, 24336),
 ('Irving Park', 16.0, 27249),
 ('Dunning', 17.0, 26282),
 ('Montclaire', 18.0, 22014),
 ('Belmont Cragin', 19.0, 15461),
 ('Hermosa', 20.0, 15089),
 ('Avondale', 21.0, 20039),
 ('Logan Square', 22.0, 31908),
 ('Humboldt park', 23.0, 13781),
 ('West Town', 24.0, 43198),
 ('Austin', 25.0, 15957),
 ('West Garfield Park', 26.0, 10934),
 ('East Garfield Park', 27.0, 12961),
 ('Near West Side', 28.0, 44689),
 ('North Lawndale', 29.0, 12034),
 ('South Lawndale', 30.0, 10402),
 ('Lower West Side', 31.0, 16444),
 ('Loop', 32.0, 65526),
 ('Near South Side', 33.0, 59077),
 ('Armour Square', 34.0, 16148),
 ('Douglas', 35.0, 23791),
 ('Oakland', 36.0, 19252),
 ('Fuller Park', 37.0, 10432),
 ('Grand Boulevard', 38.0, 23472),
 ('Kenwood', 39.0, 35911),
 ('Washington Park', 40.0, 13785),
 ('Hyde Park', 41.0, 39056),
 ('Woodlawn', 42.0, 18672),
 ('South Shore', 43.0, 19398),
 ('Chatham', 44.0, 18881),
 ('Avalon Park', 45.0, 24454),
 ('South Chicago', 46.0, 16579),
 ('Burnside', 47.0, 12515),
 ('Calumet Heights', 48.0, 28887),
 ('Roseland', 49.0, 17949),
 ('Pullman', 50.0, 20588),
 ('South Deering', 51.0, 14685),
 ('East Side', 52.0, 17104),
 ('West Pullman', 53.0, 16563),
 ('Riverdale', 54.0, 8201),
 ('Hegewisch', 55.0, 22677),
 ('Garfield Ridge', 56.0, 26353),
 ('Archer Heights', 57.0, 16134),
 ('Brighton Park', 58.0, 13089),
 ('McKinley Park', 59.0, 16954),
 ('Bridgeport', 60.0, 22694),
 ('New City', 61.0, 12765),
 ('West Elsdon', 62.0, 15754),
 ('Gage Park', 63.0, 12171),
 ('Clearing', 64.0, 25113),
 ('West Lawn', 65.0, 16907),
 ('Chicago Lawn', 66.0, 13231),
 ('West Englewood', 67.0, 11317),
 ('Englewood', 68.0, 11888),
 ('Greater Grand Crossing', 69.0, 17285),
 ('Ashburn', 70.0, 23482),
 ('Auburn Gresham', 71.0, 15528),
 ('Beverly', 72.0, 39523),
 ('Washington Height', 73.0, 19713),
 ('Mount Greenwood', 74.0, 34381),
 ('Morgan Park', 75.0, 27149),
 ("O'Hare", 76.0, 25828),
 ('Edgewater', 77.0, 33385),
 ('CHICAGO', None, 28202)]

In [48]:
%%sql 
select schools.*
from   schools
where  schools.safety_score < 2;

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(609819, 'Edmond Burke Elementary School', 'ES', '5356 S King Dr', 'Chicago', 'IL', 60615, '(773) 535-1325', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609819.pdf', 'Burnham Park Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Probation', 'Level 3', 'No', 'Very Weak', 1, 'NDA', 'NDA', 'Very Weak', 13, 'Weak', 22, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '48', 'Average', '48', '89.30%', Decimal('82.0'), '95.50%', '96.70%', '44.4', '57.4', '30.3', '16.2', '40.7', '40.4', '37.6', '24.7', '63.3', '45.5', '3.6', '14.3', Decimal('7.9'), Decimal('4.3'), Decimal('-1.4'), Decimal('-1.9'), 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 244, 42, 'NDA', Decimal('1179801.469'), Decimal('1869357.523'), Decimal('41.79679285'), Decimal('-87.61617809'), 40, 'WASHINGTON PARK', 3, 2, '(41.79679285, -87.61617809)')]

In [51]:
%%sql 
select socio.per_capita_income_ as per_capita_income,
       schools.community_area_name,
       schools.safety_score,
       schools.name_of_school
from   schools, chicago_socioeconomic_data AS socio
where  schools.safety_score = 1
  and  upper(socio.community_area_name) = upper(schools.community_area_name);

 * ibm_db_sa://tcs40883:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(13785, 'WASHINGTON PARK', 1, 'Edmond Burke Elementary School')]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                 |
| ---------- | ------- | ------------- | ---------------------------------- |
| 2020-09-05 | 2.0     | Malika Singla | Moved lab to course repo in GitLab |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>